:root {
  --primary: #a985ff;
  --secondary: #eee6fe;
  font-size: 1em;
}

* {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

html, body {
    margin: 0;
    height: 100%;
}

.text-center {
  text-align: center;
}

.input {
  box-sizing: border-box;
  width: 100%;
  border: 2px solid black;
  border-radius: 6px;
  padding: 12px;
}

.label {
  font-weight: 600;
}

#signup-page {
  background-color: var(--primary);
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
}

#signup-container {
  width: 360px;
  background-color: var(--primary);
}
